<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <li
          class="list-group-item">
        </li>
      </ul>
      <ng-template [ngIf]="onlyOdd">
        <p>Only odd</p>
      </ng-template>
    </div>
    <div class="col-xs-12">
      <p appBasicHighlight>copy right string! </p>  
      <p [appBetterHighlighter]="'green'" defaultColor="orange" > better highlighter</p>
    </div>
    <p *appUnless="onlyOdd" [appBetterHighlighter]="'#a1a1a1'">
      this is using appUnless directive
    </p>    
  </div>
</div>
